table{
	margin: 50px auto; 
}
input{
	border-radius: 2px 2px 2px 2px;
	padding-left: 20px;
	padding-top: 10px;
	margin-top: 3px;
	border-style: ridge;
	border-color: #CCC 1px;
	font-family: Arial;
	width: 210px;
}
button{
	margin-top: 20px;
	height: 40px;
	width: 100px;
	background-color: #088A68;
	color: white;
	border-radius: 2px 2px 2px 2px;
}
button:hover{
	background-color: #04B486;
}