table{
	border:none;
	border-collapse: collapse;
	text-align: center;
	width:700px;
	height:400px;
	font-family:Impact;
	font-style: cursive;
	margin: 100px auto;
	margin-bottom: 
}
thead tr{
	background-color:black;
	color:white;
}

tbody tr:nth-child(2n+1){
	background-color: 	#00FFFF;
}
tbody tr:hover{
	background-color:yellow; 
}

